@font-face {
  font-family: 'TTLakes-Regular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.ttf');
  src: url('../fonts/TTLakes-Regular.woff');
  font-style: normal;
  font-weight: 30;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: url('../fonts/TTLakes-Medium.ttf');
  src: url('../fonts/TTLakes-Medium.woff');
  font-style: normal;
  font-weight: 30;
}

@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../fonts/TTLakes-Bold.eot');
  src: url('../fonts/TTLakes-Bold.ttf');
  src: url('../fonts/TTLakes-Bold.woff');
  font-style: normal;
  font-weight: 700;
}

$bg-image: url('../img/background.png');
$acer: url('../img/acer.svg');
$apple: url('../img/apple.svg');
$bosch: url('../img/bosch.svg');
$hp: url('../img/hp.svg');
$lenovo: url('../img/lenovo.svg');
$samsung: url('../img/samsung.svg');
$viewsonic: url('../img/viewsonic.svg');
$background: url('../img/background.png');
$burger: url('../img/burger.svg');
$burger-2: url('../img/burger-2.svg');
$call: url('../img/call.svg');
$chat: url('../img/chat.svg');
$checkstatus: url('../img/checkstatus.svg');
$highlight: url('../img/highlight.png');
$line: url('../img/line.png');
$logo: url('../img/logo.png');
$profile: url('../img/profile.svg');
$repair: url('../img/repair.svg');
$search: url('../img/search.svg');
$expand: url('../img/expand.svg');
$go: url('../img/go.svg');
$photo: url('../img/photo.jpg');
$send: url('../img/send.svg');

$pink: #FF3E79;
$border: #EAEAEA;
$border-hover: #41f6d7;
$border-hover2: #b8ffec;
$border-h2: #D9FFF5;
$background: #ffffff;
$shadow-1: #0e185033;
$shadow-2: #454f7e05;
$overlay: rgba(255, 255, 255, 0.9);
$brends-bkg: #F8F8F8;
$brends-color: #7e7e82;
$contacts-color: #1b1c21;
